<div class = "center-text container rounded bg-primary">
  <!--  I'm using this div to add some uniform padding
        arround the contents of this container -->
  <div class = "p-2">
    <form>
      <div class = "form-group">
        <label for = "emailInput" class = "text-white">Email</label>
        <input type = "email" class = "form-control" id = "emailInput" [(ngModel)] = "email" name = "email" [disabled] = "isPending">
      </div>

      <div class = "form-group">
        <label for = "passwordInput" class = "text-white">Password</label>
        <input type = "password" class = "form-control" id = "passwordInput" [(ngModel)] = "password" name = "password" [disabled] = "isPending">
      </div>
      
      <button class = "pl-3 pr-3 btn btn-light float-right" (click) = "submitLogin()" [disabled] = "isPending">Login</button>
      <br>
      <br>
    </form>
  </div>
</div>