<div class = "text-white" *ngIf = "getCachedUserProfile()">
  <h5>System Info</h5>
  <ul>
    <li>EmployeeID: {{getCachedUserProfile().employeeID}}</li>
    <li>Title: {{getCachedUserProfile().title}}</li>
    <li>Email: {{getCachedUserProfile().email}}</li>
  </ul>
  <hr>
  <h5>Personal Info</h5>
  <ul>
    <li>First Name: {{getCachedUserProfile().firstName | titlecase}}</li>
    <li>Last Name: {{getCachedUserProfile().lastName | titlecase}}</li>
    <li>Phone Number: {{getCachedUserProfile().phone}}</li>
    <li>Address:<br>
         &nbsp; {{getCachedUserProfile().address}}<br>
         &nbsp; {{getCachedUserProfile().city}}, {{getCachedUserProfile().state}}<br>
         &nbsp; {{getCachedUserProfile().country}} {{getCachedUserProfile().postalCode}}
    </li>
  </ul>
  <button class = "btn btn-light mb-2 mr-1" routerLink = "edit-profile" [disabled] = "isPending">Edit Profile</button>
  <button class = "btn btn-light mb-2 ml-1 mr-1" routerLink = "change-email" [disabled] = "isPending">Change Email</button>
  <button class = "btn btn-light mb-2 ml-1" routerLink = "change-password" [disabled] = "isPending">Change Password</button>
  
</div>
<div class = "text-white"  *ngIf = "!getCachedUserProfile()">
  <p>
    Loading...
  </p>
</div>
<router-outlet></router-outlet>