<hr>

<h5 *ngIf = "errorMessage" class = "text-danger bg-white p-2">{{errorMessage}}</h5>
<form>
  <div class = "form-group">
    <label for = "oldPasswordInput" class = "text-white">Enter Old Password</label>
    <input type = "password" [ngClass] = "isPasswordValid(oldPassword) ? '' : 'text-danger'" class = "form-control" id = "oldPasswordInput" [(ngModel)] = "oldPassword" name = "oldPassword"  [disabled] = "isPending()">
  </div>
  
  <div class = "form-group">
    <label for = "newPasswordInput1" class = "text-white">Enter New Password (must be between 6 and 12 characters long)</label>
    <input type = "password"  [ngClass] = "isPasswordValid(newPassword1) && !doPasswordsMatch(newPassword1, oldPassword) ? '' : 'text-danger'" class = "form-control" id = "newPasswordInput1" [(ngModel)] = "newPassword1" name = "newPassword1"  [disabled] = "isPending()">
  </div>
  
  <div class = "form-group">
    <label for = "newPasswordInput2" class = "text-white">Re-enter New Password (must match the first entry)</label>
    <input type = "password" [ngClass] = "isPasswordValid(newPassword1) && doPasswordsMatch(newPassword1, newPassword2)  && !doPasswordsMatch(newPassword2, oldPassword) ? '' : 'text-danger'" class = "form-control" id = "newPasswordInput2" [(ngModel)] = "newPassword2" name = "newPassword2"  [disabled] = "isPending()">
  </div>
  
  <button class = "pl-3 pr-3 btn btn-light float-right" (click) = "submit()">Submit</button>
  <br>
  <br>
</form>