<hr>

<h5 *ngIf = "errorMessage" class = "text-danger bg-white p-2">{{errorMessage}}</h5>
<form>
  <div class = "form-group">
    <label for = "emailInput" class = "text-white">New Email</label>
    <input type = "text" [ngClass] = "isEmailValid(email) ? '' : 'text-danger'" class = "form-control" id = "emailInput" [(ngModel)] = "email" name = "email"  [disabled] = "isPending()">
  </div>

  <div class = "form-group">
    <label for = "passwordInput" class = "text-white">Enter Password</label>
    <input type = "text" [ngClass] = "isPasswordValid(password) ? '' : 'text-danger'" class = "form-control" id = "passwordInput" [(ngModel)] = "password" name = "password"  [disabled] = "isPending()">
  </div>

  <button class = "pl-3 pr-3 btn btn-light float-right" (click) = "submit()" [disabled] = "isPending()">Submit</button>
  <br>
  <br>
</form>