<div class = "center-text container rounded bg-primary">
  <!--  I'm using this div to add some uniform padding
        arround the contents of this container -->
  <div class = "p-2">
    <nav class = "navbar navbar-expand-lg text-white">
      <button class = "btn btn-link text-white" routerLink = "profile" [disabled] = "isPending()">View My Profile</button>
      <button class = "btn btn-link text-white" routerLink = "my-requests" [disabled] = "isPending()">View My Requests</button>
      <button class = "btn btn-link text-white" routerLink = "employees" [disabled] = "isPending()">View My Employees</button>
      <button class = "btn btn-link text-white" routerLink = "all-employee-requests" [disabled] = "isPending()">View All Employee Requests</button>
    </nav>
    <hr>
    <router-outlet></router-outlet>
  </div>
</div>